@font-face {
    font-family: "Consolas";
    src: url("./fonts/consolas.ttf");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

body {
    font-family: "Consolas";
    overflow-x: hidden;
}

h1,
h2 {
    color: white;
    font-size: 20px;
}

.container {
    margin: 0 auto;
    width: 55%;
    height: 100%;
}

.heading {
    text-align: center;
    padding: 50px 0;

    font-size: 35px;

    background: -webkit-linear-gradient(120deg, green, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mini-heading {
    text-align: center;
    padding: 25px 0;

    font-size: 25px;

    background: -webkit-linear-gradient(120deg, green, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.alert {
    padding: 1rem;

    border: 1px solid #0f5132;
    background-color: #051b11;
    border: 1px solid #0f5132;
    border-radius: 5px;

    color: #75b798;
    font-size: 21px;
    font-weight: 700;
}

pre,
code {
    border-radius: 5px;
    font-size: 17px;
    font-family: "Consolas";
}

code {
    padding-bottom: 2em !important;
}

.peculiarities {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 15px 0;
}

.peculiarity {
    background-color: #252529;
    width: 30%;
    min-height: 225px;
    border-radius: 15px;
    padding: 15px 20px;
    margin: 0 10px;
}

.peculiarity-heading {
    padding-top: 30px;
    font-size: 22px;
}

.peculiarity-text {
    font-size: 16px;
    margin: 0 auto;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #5D5F68;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 0%;
    transform: translate(0%, -50%);
    user-select: none;
    padding-top: 30%;
}

#image-track>.image {
    width: 55vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    padding-bottom: 3%;
}